.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	padding: 20px 0;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-menu a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
}

.header-menu a:hover {
	color: var(--primary);
}